@model IEnumerable<Chef>

@{
    ViewData["Title"] = "AboutUs";
}

<section class="about-page">
    <div>
        <h1>About us</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>


<section class="about-header">
    <h2 class="header-main">About Our Food</h2>
    <h2 class="header-sub">Delivering Awesome Since 1960</h2>
    <p>Time flies when you do what you love. We know because we’ve been making great pizza since 1967. Along the way, we’ve grown to more than 750 restaurants from coast to coast, becoming a trusted brand and leader in the foodservice industry. We’re proud of the quality food we make – and the difference we make in communities across Canada. We’ve made a lot of pies – and memories – over the years. Find out what goes into both!</p>
</section>
<h2 class="timeline-title">Our History</h2>
<div class="timeline-container">
    <div class="timeline">
        <ul>
            <li>
                <div class="timeline-content">
                    <h3 class="date">
                        20th may, 1960
                    </h3>
                    <img src="~/uploads/images/history_1960.jpg" alt="">
                    <h1>
                        The beginning
                    </h1>
                    <p>Tom Managhan and brother, James bough “PocoNick’s” – a pizza restaurant at Ypsilanti Mich with the price of 500 dollar and changed its name to “Marizona , Inc”</p>
                </div>
            </li>
            <li>
                <div class="timeline-content">
                    <h3 class="date">20th may, 1968</h3>
                    <img src="~/uploads/images/history_1968.jpg" alt="">
                    <h1>Bad Luck</h1>
                    <p>In 1968, Marizona Pizza headquarter burn down by fire. In 1975, Amstar Corp, a sugar supplier name Marizona sued Marizona's Pizza for the name of Marizona.</p>
                </div>
            </li>
            <li>
                <div class="timeline-content">
                    <h3 class="date">20th may, 1970</h3>
                    <img src="~/uploads/images/history_1980.jpg" alt="">
                    <h1>Growing</h1>
                    <p>Marizona Pizza opened more 954 stores, increased total stores to 2,841 and became the fastest-growing pizza chain in the United States. The first Marizona Pizza store opened in the United Kingdom, in Luton The Deep Pan Pizza</p>
                </div>
            </li>
            <li>
                <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <img src="~/uploads/images/history_2010.jpg" alt="">
                    <h1>2,000th Store</h1>
                    <p>Marizona Pizza International opened its 2,000th store outside the United States. Domino's celebrates 40 years of development around the world. At the same time, global sales reach more than $ 3.54 billion.</p>
                </div>
            </li>
            <li>
                <div class="timeline-content">
                    <h3 class="date">20th may, 2020</h3>
                    <img src="~/uploads/images/history_2020.jpg" alt="">
                    <h1>60 Years Celebrating</h1>
                    <p>In 2010, Marizona Pizza celebrated 50 years of operating. First store opened in Vietnam on 19 November 2010</p>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="video-container">
    <video src="~/uploads/videos/promo.mp4" autoplay muted loop>
    </video>
    <div class="video-text">
        <h2>Make the thing Anything is Possible</h2>
        <p>Enjoy our luscious dishes wherever you want</p>
        <span>Since 2003</span>
    </div>
</div>

<section class="random-product-about" style="margin-bottom: 30px;">
    <div class="description">
        <span class="description__title">About Our Food</span>
        <h2 class="description__slogan">From Texas with American Love</h2>
        <p class="description__short">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a asp-controller="home" asp-action="contact">
            <button class="btn-hard-md">ORDER NOW</button>
        </a>
    </div>
    <div class="random-product-img-div">
        <img class="random-product-img" src="~/uploads/images/about-imager-5.png" alt="burger">
    </div>
</section>

<section class="random-product-about" style="margin-bottom: 30px;">
    <div class="random-product-img-div">
        <img src="~/uploads/images/h2_shape-2.png" alt="burger">
    </div>
    <div class="description">
        <span class="description__title">About Our Food</span>
        <h2 class="description__slogan">From Texas with American Love</h2>
        <p class="description__short">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a asp-controller="home" asp-action="contact">
            <button class="btn-hard-md">ORDER NOW</button>
        </a>
    </div>
</section>

<section class="random-product-about" style="margin-bottom: 100px;">
    <div class="description">
        <span class="description__title">About Our Food</span>
        <h2 class="description__slogan">From Texas with American Love</h2>
        <p class="description__short">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a asp-controller="home" asp-action="contact">
            <button class="btn-hard-md">ORDER NOW</button>
        </a>
    </div>
    <div class="random-product-img-div">
        <img class="random-product-img" src="~/uploads/images/about-imager-7.png" alt="burger">
    </div>
</section>


<h2 class="timeline-title">Our Team</h2>
<section class="chefs">
    <div class="container">
        <div class="team-cards">

            @foreach (var item in Model)
            {
                <div class="team-card">
                    <div class="img-box">
                        <img src="~/uploads/images/@item.ImagePath" alt="">
                        <span class="rank">
                            @item.PositionChef.Name
                        </span>
                    </div>
                    <div class="info">
                        <h2>
                            @item.Name
                        </h2>
                        <p class="description">
                            @item.aboutChef
                        </p>
                        <div class="personal-social-links">
                            <ul>
                                <li><a href="@item.SocialMedia.InstagramUrl"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="@item.SocialMedia.FacebookUrl"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="@item.SocialMedia.LinkedinUrl"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<section class="make-order">
    <div>
        <span>We guarantee</span>
        <h2>30 Minutes Delivery!</h2>
        <p>If you’re having a meeting, working late at night and need an extra push.</p>
        <a asp-controller="home" asp-action="contact">
            <button class="btn-hard-md">MAKE AN ORDER</button>
        </a>
    </div>
</section>