<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Marziona">
    <meta name="description" content="Marizona is the best fast food place in the world">
    <meta name="keywords" content="fast food, marizona, meal, burger, pizza, food, drink, restourant">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="author" content="Mubariz Mayilzada">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/uploads/icons/M!.png" type="image/icon type">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- //carousel -->
    <link rel="stylesheet" href="~/assets/sass/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/sass/vendors/owl-carousel/owl.theme.default.min.css">

    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />

    @RenderSection("addcss", required: false)
</head>
<body>

    <header>
        <nav>
            <input type="checkbox" class="burger-menu">
            <ul class="header-nav-menu">
                <li><a asp-controller="menu" asp-action="index">>Menu</a></li>
                <li><a asp-controller="home" asp-action="aboutUs">>About</a></li>
                <li><a asp-controller="shop" asp-action="index">>Shop</a></li>
                <li><a asp-controller="blog" asp-action="index">>Blog</a></li>
                <li><a asp-controller="faqs" asp-action="index">>FAQs</a></li>
                <li><a asp-controller="home" asp-action="contact">>Contact</a></li>
            </ul>

            <div class="container">
                <div class="nav-wrap">
                    <div class="navbar-wrapper">
                        <a asp-controller="home" asp-action="index"><img class="logo-marizona" src="~/uploads/icons/Marizona.png" alt=""></a>
                        <a asp-controller="home" asp-action="index"><img class="logo-m" src="~/uploads/icons/M!.png" alt=""></a>
                        <ul class="header-nav">
                            <li><a asp-controller="menu" asp-action="index">>Menu</a></li>
                            <li><a asp-controller="home" asp-action="aboutUs">>About</a></li>
                            <li><a asp-controller="shop" asp-action="index">>Shop</a></li>
                            <li><a asp-controller="blog" asp-action="index">>Blog</a></li>
                            <li><a asp-controller="faqs" asp-action="index">>FAQs</a></li>
                            <li><a asp-controller="home" asp-action="contact">>Contact</a></li>
                        </ul>
                    </div>
                    <div class="header-right-wrap">
                        <div class="about-delivery">
                            <div class="delivery-icon">
                                <img src="~/uploads/icons/fast-delivery (2).png" alt="fast-delivery">
                            </div>
                            <ul>
                                <li><span class="delivery-text">Call and Order in</span></li>
                                <li><span class="delivery-number">+1 718-904-4450</span></li>
                            </ul>
                        </div>
                        <ul class="personal-things">
                            <li><a asp-controller="account" asp-action="profile"><img src="~/uploads/icons/user.png" alt="user"></a></li>
                            <li><a href="./wishlist.html"><img src="~/uploads/icons/heart (1).png" alt="hearth"></a></li>
                            <li><a href="./basket.html"><img src="~/uploads/icons/shopping-basket.png" alt="basket"></a></li>
                            <li class="other-site"><a href="#"><img src="~/uploads/icons/cheese-burger.png" alt="basket"></a></li>
                        </ul>
                        <img class="tel" src="~/uploads/icons/telephone.png" alt="">
                    </div>
                </div>
            </div>



            <a class="telephone" href="tel:0506570901">
                <img src="~/uploads/icons/telephone.png" alt="telephone">
            </a>
        </nav>
    </header>



    @RenderBody()





    <footer>
        <div class="container-fluid" style="padding: 0px;">
            <div class='wrapper-stars'>
                <div class='stars'></div>
                <div class='stars2'></div>
                <div class='stars3'></div>


                <div class="footer-content-wrapper">
                    <div class="logo-marizona">
                        <img src="~/uploads/icons/Marizona.png" alt="">
                        <span></span>
                    </div>
                    <div class="footer-content">
                        <div class="contact-info">
                            <h2>ADDRESS</h2>
                            <p>
                                570 8th Ave,<br>
                                New York, NY 10018 <br>
                                United States
                            </p>
                            <h3>050-657-09-01</h3>
                        </div>
                        <div class="pages">
                            <h2>PAGES</h2>
                            <ul>
                                <li><a asp-controller="menu" asp-action="index">>Menu</a></li>
                                <li><a asp-controller="home" asp-action="aboutUs">>About</a></li>
                                <li><a asp-controller="shop" asp-action="index">>Shop</a></li>
                                <li><a asp-controller="blog" asp-action="index">>Blog</a></li>
                                <li><a asp-controller="faqs" asp-action="index">>FAQs</a></li>
                                <li><a asp-controller="home" asp-action="contact">>Contact</a></li>
                            </ul>
                        </div>
                        <div class="open-hours">
                            <h2>OPENING HOURS</h2>
                            <p>
                                Monday – Friday: <span>8am – 4pm</span> <br>
                                Saturday: <span>9am – 5pm</span> <br> Sunday: <span>9am – 8pm</span>
                            </p>
                        </div>
                        <div class="follow-us">
                            <h2>SOCIAL LINKS</h2>
                            <ul>
                                <li><a target="_blank" href="https://www.instagram.com/mailzathe/?hl=en"><i class="fab fa-instagram"></i> <span>Instagram</span></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/in/mubariz-mayilzada/"><i class="fab fa-linkedin"></i> <span>Linkedin</span></a></li>
                                <li><a target="_blank" href="https://github.com/mubarizmayilzade"><i class="fab fa-github"></i> <span>Github</span></a></li>
                                <li><a target="_blank" href="https://www.youtube.com/channel/UCG7-m5Wq40MqypUDH2O3ULA"><i class="fab fa-youtube"></i> <span>YouTube</span></a></li>
                                <li><a target="_blank" href="#"><i class="fab fa-twitter"></i> <span>Twitter</span></a></li>
                            </ul>
                        </div>
                        <div class="sign-in">
                            <h2>NEWSLETTER</h2>
                            <p>
                                Subscribe to the weekly newsletter for all
                                the latest updates
                            </p>
                            <form method="post"
                                  asp-controller="Home"
                                  asp-action="Subscribe"
                                  class="input-wrapper"
                                  id="frmSubscribe">
                                <input type="email"
                                       name="email"
                                       placeholder="Your Email..."
                                       data-rule-required="true"
                                       data-msg-required="Bosh buraxila bilmez."
                                       data-rule-email="true"
                                       data-msg-email="E-poct unvaniniz uygun deyil.">
                                <a href="#">
                                    <button class="subscribe-button">SUBSCRIBE</button>
                                </a>
                            @Html.AntiForgeryToken()
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <div class="menu-tablet">
        <div class="menu-item menu-item--active">
            <div class="menu-item__status"></div>
            <div class="menu-item__icon">
                <a asp-controller="account" asp-action="profile">
                    <img src="~/uploads/icons/user.png" alt="">
                </a>
            </div>
            <div class="menu-item__text">Account</div>
        </div>
        <div class="menu-item">
            <div class="menu-item__status"></div>
            <div class="menu-item__icon">
                <a href="./wishlist.html"><img src="~/uploads/icons/heart (1).png" alt=""></a>
            </div>
            <div class="menu-item__text">Wishlist</div>
        </div>
        <div class="menu-item">
            <div class="menu-item__status"></div>
            <div class="menu-item__icon">
                <a href="./basket.html"><img src="~/uploads/icons/shopping-basket.png" alt=""></a>
            </div>
            <div class="menu-item__text">Basket</div>
        </div>
    </div>

    <!-- scroll -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.min.js"></script>

    <!-- carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/assets/sass/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/js/carousel.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/assets/js/scroll-pizza.js"></script>
    <script src="~/assets/js/animate-text.js"></script>

    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/jquery-validate/jquery.validate.js"></script>

    <script src="~/libs/toastr.js/toastr.min.js"></script>
    @*<script src="~/assets/js/contact-form.js"></script>*@
    <script src="~/libs/jquery-validate/jquery.validate.js"></script>
    @*<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@
    
    <script>
        $(document).ready(function () {

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }



            $('#frmSubscribe').submit(function (e) {
                e.preventDefault();

                if ($(e.currentTarget).valid() != true)
                    return;

                const formData = new FormData(e.currentTarget);
                $.ajax({
                    url: '@Url.Action("Subscribe")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log();

                        if (response.error == false) {
                            e.currentTarget.reset();
                            toastr.success(response.message, "Success")
                        }
                        else {
                            toastr.error(response.message, "Error")
                        }
                    },
                    error: function (response) {
                        toastr.error("Teyin edilmeyen xeta bash verib, biraz sonra yeniden yoxlayin.", "Error")
                    },
                });

            }).validate({
                errorElement: 'span'
            });
        });
    </script>
    @RenderSection("addjs", required: false)
</body>
</html>