@model ShopFilterCategoriesViewModel
@{
    ViewData["Title"] = "Index";
}

<section class="about-page">
    <div>
        <h1>Menu</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>

<div class="container">
    <section class="todays-menu">
        <div class="title-menu">
            <h2>
                Menus Of The Day
            </h2>
            <ul class="buttons">
                <li data-filter="all" class="button-select active" href="#">ALL</li>



                @foreach (var item in Model.Categories)
                {
                    <li data-filter="pizza" class="button-select" href="#">@item.Name.ToUpper()</li>
                }



                @*<li data-filter="sushi" class="button-select" href="#">SUSHI</li>
                    <li data-filter="salat" class="button-select" href="#">SALATS</li>
                    <li data-filter="burger" class="button-select" href="#">BURGER</li>
                    <li data-filter="desert" class="button-select" href="#">DESERTS</li>*@
            </ul>
        </div>
        <div class="menu-cards">
            @foreach (var item in Model.Products)
            {
                <div class="menu-card-wrap" data-category="@item.Category.Name">
                    <div class="menu-card">
                        <img src="~/uploads/images/@item.ImagePath" alt="">
                        <span class="icon-wishlist"><i class="fas fa-heart"></i></span>
                        <div class="menu-card__body">
                            <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id">
                                <span>@item.Title</span>
                            </a>
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <p class="short-description">@item.ShortDescription</p>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price @(item.IsSalePrice != null ? "is-sale" : "")">
                                        $@item.Price
                                    </span>
                                    <span class="price @(item.IsSalePrice == null ? "is-sale-none" : "")">
                                        $@item.IsSalePrice
                                    </span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            }


            @*<div class="menu-card-wrap" data-category="burger">
                    <div class="menu-card">
                        <img src="~/uploads/images/53-1.png" alt="">
                        <span class="icon-wishlist"><i class="fas fa-heart"></i></span>

                        <div class="menu-card__body">
                            <a href="#">
                                <span>BBQ chicken breast</span>
                            </a>
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <p class="short-description"> A mighty meaty double helping of all the reasons you love our burger.</p>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$18.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-card-wrap" data-category="salat">
                    <div class="menu-card">
                        <img src="~/uploads/images/27-1-600x600.png" alt="">
                        <span class="icon-wishlist"><i class="fas fa-heart"></i></span>

                        <div class="menu-card__body">
                            <a href="#">
                                <span>BBQ chicken breast</span>
                            </a>
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <p class="short-description"> A mighty meaty double helping of all the reasons you love our burger.</p>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$18.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-card-wrap" data-category="sushi">
                    <div class="menu-card">
                        <img src="~/uploads/images/54.1.png" alt="">
                        <span class="icon-wishlist"><i class="fas fa-heart"></i></span>

                        <div class="menu-card__body">
                            <a href="#">
                                <span>BBQ chicken breast</span>
                            </a>
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <p class="short-description"> A mighty meaty double helping of all the reasons you love our burger.</p>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$18.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-card-wrap" data-category="burger">
                    <div class="menu-card">
                        <img src="~/uploads/images/52-1.png" alt="">
                        <span class="icon-wishlist"><i class="fas fa-heart"></i></span>

                        <div class="menu-card__body">
                            <a href="#">
                                <span>BBQ chicken breast</span>
                            </a>
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <p class="short-description"> A mighty meaty double helping of all the reasons you love our burger.</p>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$18.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-card-wrap" data-category="salat">
                    <div class="menu-card">
                        <img src="~/uploads/images/5-1.png" alt="">
                        <span class="icon-wishlist"><i class="fas fa-heart"></i></span>

                        <div class="menu-card__body">
                            <a href="#">
                                <span>BBQ chicken breast</span>
                            </a>
                            <ul class="product-stars">
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                                <li class="rate-star"><i class="far fa-star"></i></li>
                            </ul>
                            <p class="short-description"> A mighty meaty double helping of all the reasons you love our burger.</p>
                            <div class="price-basket">
                                <div>
                                    <span class="main-price is-sale">$18.18</span>
                                    <span class="price">$12.00</span>
                                </div>
                                <span class="basket"><a href="#"><i class="fas fa-shopping-basket"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </section>
</div>


<section class="container-fluid" style="padding: 0px;">
    <div class="new-taste">
        <div class="new-taste__poster-order">
            <div class="poster-order-background-overlay">
                <div>
                    <h2>Explore the new taste</h2>
                    <p>Enjoy our luscious dishes wherever you want</p>
                    <a href="./contact.html"><button class="btn-hard-md">ORDER NOW</button></a>
                </div>
            </div>
        </div>
        <div class="new-taste__menu">
            <div class="menu-background-overlay">
                @foreach (var item in Model.RecentProducts)
                {
                    <div class="product-item">
                        <div class="product">
                            <h2 class="product__name">@item.Title</h2>
                            <h2 class="product__price">$@item.Price</h2>
                        </div>
                        <div class="divide-elements"></div>
                        <p class="content">Shrimp, Squid, Pineapple</p>
                    </div>
                }


                @*<div class="product-item">
                        <div class="product">
                            <h2 class="product__name">Pepperoni Pizza</h2>
                            <h2 class="product__price">$5.95</h2>
                        </div>
                        <div class="divide-elements"></div>
                        <p class="content">Shrimp, Squid, Pineapple</p>
                    </div>
                    <div class="product-item">
                        <div class="product">
                            <h2 class="product__name">Apricot Chicken</h2>
                            <h2 class="product__price">$5.65</h2>
                        </div>
                        <div class="divide-elements"></div>
                        <p class="content">Shrimp, Squid, Pineapple</p>
                    </div>
                    <div class="product-item">
                        <div class="product">
                            <h2 class="product__name">Summer Pizza</h2>
                            <h2 class="product__price">$8.95</h2>
                        </div>
                        <div class="divide-elements"></div>
                        <p class="content">Shrimp, Squid, Pineapple</p>
                    </div>*@
            </div>
        </div>
    </div>
</section>


<div class="container slogan-wrap">
    <div class="slogans">
        <div class="slogan">
            <img class="slogan__icon" src="~/uploads/icons/fast-delivery-orange.png" alt="">
            <div>
                <h3 class="slogan__title">Free shipping</h3>
                <p class="slogan__description">Sign up for updates and get free shipping</p>
            </div>
        </div>
        <div class="slogan">
            <img class="slogan__icon" src="~/uploads/icons/clock.png" alt="">
            <div>
                <h3 class="slogan__title">30 Minutes Delivery</h3>
                <p class="slogan__description">Everything you order will be quickly delivered to your door.</p>
            </div>
        </div>
        <div class="slogan">
            <img class="slogan__icon" src="~/uploads/icons/pizza-slice.png" alt="">
            <div>
                <h3 class="slogan__title">Best Quality Guarantee</h3>
                <p class="slogan__description">Poco is an international chain of family restaurants.</p>
            </div>
        </div>
    </div>
</div>


@section addjs{
    <script src="./assets/js/filter.js"></script>
}



@section addcss{
    <style>
        .main-price {
            display: block !important;
            margin-right: 20px !important;
        }

        .is-sale-none {
            display: none !important;
        }

        .price-basket > div {
            white-space: nowrap;
            width: 100%;
            display: flex;
        }
    </style>
}