@model BlogListViewModel

@{
    ViewData["Title"] = "Index";
}

<section class="about-page">
    <div>
        <h1>Our Blog</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>




<section class="blogs">
    <div class="container">
        <div class="blog">
            <div class="blog-posts">
                @foreach (var item in Model.Blogs)
                {
                    <div class="blog-post">
                        <div class="blog-post__img">
                            <img src="~/uploads/images/@item.ImagePath" alt="blog-img">
                            <div></div>
                        </div>
                        <div class="blog-post__body">
                            <span class="blog-post__body__category">@item.BlogTag.Name</span>
                            <span class="blog-post__body__slash">/</span>
                            <span class="blog-post__body__time">@item.CreatedDate.ToString("dd : MM : yyyy")</span>
                            <h3 class="blog-post__body__title">
                                <a asp-controller="blog" asp-action="details">
                                    @item.Title
                                </a>
                            </h3>
                            <p class="blog-post__body__short-description">
                                @item.ShortDescription
                            </p>
                            <div class="blog-post__body__button">
                                <a asp-controller="blog" asp-action="details">
                                    <button class="btn-hard-md">
                                        READ MORE
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                }

            </div>


            <div class="right-aside">
                <div class="categories">
                    <span class="category-title">Categories</span>
                    <div class="categories__body">
                        <ul class="categories__body__items">
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/burger-aside.png" alt="">

                                        <span class="category-title-sub">
                                            Burgers
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (18)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/cocktail-aside.png" alt="">

                                        <span class="category-title-sub">
                                            Cold Drinks
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (9)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/coffee-cup-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Hot Drinks
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (33)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/french-fries-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Pasta
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (12)
                                </span>
                            </li>
                            <li class="categories__body__items__item">
                                <a asp-controller="shop" asp-action="index">
                                    <div class="item-overview">

                                        <img src="~/uploads/images/pizza-aside.png" alt="">
                                        <span class="category-title-sub">
                                            Pizza
                                        </span>
                                    </div>
                                </a>
                                <span class="item-count">
                                    (20)
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="category-tags">
                    <span class="category-title">Categories</span>

                    @{foreach (var item in Model.BlogTags)
                        {
                            <a href="#">
                                @item.Name
                            </a>
                        }
                    }
                </div>

                <div class="blog-ad">
                    <div class="blog-ad__wrapper">
                        <span class="blog-ad__wrapper__slogan">
                            Super Delicious
                        </span>
                        <span class="blog-ad__wrapper__title">
                            Chicken
                        </span>
                        <span class="blog-ad__wrapper__call">
                            call us now:
                        </span>
                        <span class="blog-ad__wrapper__number">
                            050-657-09-01
                        </span>
                        <img src="~/uploads/images/widgets_blog2.png" alt="ad-img">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

@section addjs{
    <script src="./assets/js/filter-shop.js"></script>
}



