@model Product
@{
    ViewData["Title"] = "Details";
}
@section addcss{
    <link rel="stylesheet" href="~/assets/css/style.css">
}

<section class="about-page">
    <div>
        <h1>Product Details</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>


<section class="product-detail">
    <div class="container">
        <div class="product-detail-wrapper">
            <div class="product-images">
                <div class="product-main-image">
                    <img src="~/uploads/images/@Model.ImagePath" alt="">
                </div>
            </div>
            <div class="product-description">
                <h1 class="product-description__title">@Model.Title</h1>
                <p class="product-description__sub-description">@Model.ShortDescription</p>
                <div class="price-basket" id="product-details-price-basket">
                    <div>
                        <span class="main-price is-sale">$18.18</span>
                        <span class="price">$12.00</span>
                    </div>
                    <span class="basket" id="product-details-basket"><a href="#"><i class="fas fa-shopping-basket"></i> Add to Basket</a></span>
                </div>
                <ul>
                    <li class="product-sku-code">BarCode : <span>@Model.BarCode</span></li>
                    <li class="product-category">Category : <span>@Model.Category.Name</span> </li>
                    <li class="-product-tag">Size : <span>@Model.Size.SizeTitle</span> </li>
                </ul>
                <h5>Guaranteed Safe Checkout <img src="~/uploads/icons/trust-symbols.png" alt=""></h5>
            </div>
        </div>
        <p class="big-description">@Model.Description</p>
        <p class="ingridients"> <span>Ingridients : </span> Tomato, Salt, Mushroom, Papper, peperonni </p>
    </div>
</section>
