@model ShopFilterCategoriesViewModel
@{
    ViewData["Title"] = "Index";
}

<section class="about-page">
    <div>
        <h1 id="page-title">SHOP</h1>
        <span class="about-page__sub-text"><span>" Marizona "</span> is the perfect place for Fast food</span>
    </div>
</section>

<section class="shop">
    <div class="container">
        <div class="shop-wrapper">
            <div class="product-items-aside">
                <div class="cards">
                    @foreach (var item in Model.Products)
                    {
                        <div data-category="@item.Category.Name.ToLower()" class="card card-1">
                            <div class="image-wrapper">
                                <a href="" class="image">
                                    <img src="~/uploads/images/@item.ImagePath" alt="">
                                </a>
                                @*<span class="icon-wishlist"><i class="fas fa-heart"></i></span>*@
                            </div>
                            <div class="product-caption-wrapper">
                                <div class="product-caption">
                                    @*<ul class="product-stars">
                                            <li class="rate-star"><i class="far fa-star"></i></li>
                                            <li class="rate-star"><i class="far fa-star"></i></li>
                                            <li class="rate-star"><i class="far fa-star"></i></li>
                                            <li class="rate-star"><i class="far fa-star"></i></li>
                                            <li class="rate-star"><i class="far fa-star"></i></li>
                                        </ul>*@
                                    <a asp-controller="shop" asp-action="details" asp-route-id="@item.Id" class="product-title">@item.Title</a>
                                    <div class="product-mini-description">@item.ShortDescription</div>
                                    <div class="price-basket">
                                        <div>
                                            <span class="main-price @(item.IsSalePrice != null ? "is-sale" : "")">
                                                $@item.Price
                                            </span>
                                            <span class="price @(item.IsSalePrice == null ? "is-sale-none" : "")">
                                                $@item.IsSalePrice
                                            </span>
                                        </div>
                                        <span class="basket"><a href="javascript:addToCard(@item.Id)"><i class="fas fa-shopping-basket"></i></a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="right-aside">
                <div class="categories">
                    <span class="category-title">Categories</span>
                    <div class="categories__body">
                        <ul class="categories__body__items filter-shop">
                            @foreach (var item in Model.Categories)
                            {
                                <li data-filter="@item.Name.ToLower()" class="categories__body__items__item acti">
                                    <a href="#" class="category-title-sub-touch">
                                        <div class="item-overview">

                                            <img src="~/uploads/images/star.png" alt="">

                                            <span class="category-title-sub">
                                                @item.Name
                                            </span>
                                        </div>
                                    </a>
                                    @*<span class="item-count">
                                            (18)
                                        </span>*@
                                </li>
                            }
                        </ul>
                    </div>
                </div>


                <div class="recent-posts">
                    <span class="category-title">Recent post</span>

                    @foreach (var blog in Model.RecentBlogs)
                    {
                        <div class="recent-post">
                            <img src="~/uploads/images/@blog.ImagePath" alt="">
                            <div class="recent-post__description">
                                <a asp-controller="blog" asp-action="details" asp-route-id="@blog.Id" class="recent-post-link">@blog.Title</a>
                                <span class="time">
                                    @blog.CreatedDate.ToString("MM/dd/yyyy")
                                </span>
                            </div>
                        </div>
                    }
                </div>

                <div class="blog-ad">
                    <div class="blog-ad__wrapper">
                        <span class="blog-ad__wrapper__slogan">
                            Super Delicious
                        </span>
                        <span class="blog-ad__wrapper__title">
                            Chicken
                        </span>
                        <span class="blog-ad__wrapper__call">
                            call us now:
                        </span>
                        <span class="blog-ad__wrapper__number">
                            050-657-09-01
                        </span>
                        <img src="~/uploads/images/widgets_blog2.png" alt="ad-img">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section addjs{
    <script src="~/assets/js/filter-shop.js"></script>
    <script>
        const pageTitle = document.getElementById("page-title");
        const spans = document.querySelectorAll(".category-title-sub-touch");
        let spanText;

        spans.forEach(span => {
            span.addEventListener('click', (e) => {
                e.preventDefault();
                spanText = e.target.innerText;
                pageTitle.innerText = spanText;
            })
        });
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <script class="removeable">
        function addToCard(id) {

            let arr = [];
            var storedJson = $.cookie('basket');

            if (storedJson != undefined && typeof storedJson == 'string') {
                arr = JSON.parse(storedJson);
            }
            var found = arr.filter(item => {
                return item.productId == id;
            })[0];

            if (found == undefined) {
                found = {
                    productId: id,
                    count: 1
                };

                arr.push(found);
            }
            else {
                found.count = found.count + 1;
            }

            var jsonStrinfy = JSON.stringify(arr);

            $.cookie('basket', jsonStrinfy, { expires: 60, path: '' });

            //showBasketCount();
        }

        $(document).ready(function () {



        });
    </script>
}




@section addcss{
    <style>
        .main-price {
            display: block !important;
            margin-right: 20px !important;
        }

        .is-sale-none {
            display: none !important;
        }

        .price-basket > div {
            white-space: nowrap;
            width: 100%;
            display: flex;
        }
    </style>

    <style>
        .card {
            position: relative;
        }
        .product-caption-wrapper {
            width: 90%;
            position: absolute;
            bottom: 25px;
        }
        .product-caption {
            width: 100%;
        }
        .recent-post-link {
            display: block;
        }
        .recent-post {
            justify-content: normal !important;
        }
    </style>
}